@{
    ViewBag.Title = "Juego en Progreso";
}

<h1>@ViewBag.Pregunta.Enunciado</h1>
<form method="post" action="@Url.Action("VerificarRespuesta", "Home")">
    <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta">
    @foreach (var respuesta in ViewBag.Respuestas)
    {
        <button type="submit" name="idRespuesta" value="@respuesta.IdRespuesta">@respuesta.Contenido</button>
    }
</form>
